## CipherByte Technologies - Iris Flower

### By- Moon Singhal

In [2]:
import pandas as pd  #panelling library importing

In [3]:
import numpy as np   #numerical library importing

In [4]:
data = pd.read_excel("C:\\Users\\MOON SINGHAL\\Desktop\\cipherbyte technologies\\Iris Flower.xlsx")

In [5]:
data.sample(5)  #fetching the sample data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
72,73,6.3,2.5,4.9,1.5,Iris-versicolor
86,87,6.7,3.1,4.7,1.5,Iris-versicolor
37,38,4.9,3.1,1.5,0.1,Iris-setosa
77,78,6.7,3.0,5.0,1.7,Iris-versicolor
49,50,5.0,3.3,1.4,0.2,Iris-setosa

In [9]:
data.info()  #fetching not null and dtypes of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [10]:
data.isnull().sum()  #cleaned

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [11]:
data.duplicated().sum()  #hence, no duplicates left

0

In [13]:
data.drop_duplicates().head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
from sklearn.metrics import accuracy_score, classification_report

### Pre-Process the data

In [31]:
X = data.drop(columns = ["Id","Species"])

In [32]:
y = data["Species"]

### Encoding the data

In [34]:
le = LabelEncoder()
y_encoded = le.fit_transform(y)

### Split the data

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.2, random_state=42)

### Training model

In [37]:
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred, target_names=le.classes_)

### Testing

In [38]:
accuracy

1.0

### Generating Report

In [39]:
report

'                 precision    recall  f1-score   support\n\n    Iris-setosa       1.00      1.00      1.00        10\nIris-versicolor       1.00      1.00      1.00         9\n Iris-virginica       1.00      1.00      1.00        11\n\n       accuracy                           1.00        30\n      macro avg       1.00      1.00      1.00        30\n   weighted avg       1.00      1.00      1.00        30\n'

## The model achieved perfect accuracy on the test set.